doctype html
html
  head
    title Turnt
    
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='og:title', content='Now Watch Me...')
    meta(name='og:description', content='That one time I stepped into a remix video booth in Austin.')
    meta(name='og:type', content='video.other')
    meta(name='og:image', content= s3Path + '/' + guid + '.jpg')
    
    link(rel='stylesheet', href='/turnt.css')

  body
  
    h1#logo

    video(width='100%' poster= s3Path + '/' + guid + '.jpg' controls)
      source(src= s3Path + '/' + guid + '.mp4')
      source(src= s3Path + '/' + guid + '.webm')
    
    .shares
      a.share#twitter(href='http://twitter.com/intent/tweet?status=That%20one%20time%20I%20stepped%20into%20a%20remix%20video%20booth%20at%20the%20TAKE5%20Swag%20Exchange.%20%23myTAKE5%20%23RespectTheRemix+#{rootUrl}/turnt/#{guid}') Twitter
      a.share#facebook(href='http://www.facebook.com/share.php?u=#{rootUrl}/turnt/#{guid}') Facebook
